<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/dhea-listia-apriyanti.png" alt="dhea-listia-apriyanti" class="img-thumbnail rounded-circle" height="300" width="200">
            <h1 class="display-4">Dhea Listia Apriyanti</h1>
            <p class="lead">Mahasiswa | Teknik Informatika</p>
        </div>
    </div>
</div>